@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

html {
    overflow-x: hidden;
}

body {
    border: 0;
    padding: 0;
    margin: 0;

}

/* General Stylings */

.primary-colour {
    background-color: #CDA582;
}

h1, h2, h3, span{
    font-family: 'Syne', sans-serif;
}

i, a {
    font-family: 'Inter', sans-serif;
}

.animation-points {
    height: 100px;
    width: 100px;
}

hr {
    width: 70%;
    border: 1px solid #CDA582;
    margin: 10px auto;
}

/* Top Contact Section */

.top-contact {
    padding: 1rem;
    color: #fff;
}

.top-contact-left i{
    padding-left: 0.5rem;
}

.top-contact-right i {
    margin-right: 0.5rem;
}


/* Nav Section */

nav {
    color:#000;
}

/* Hero Section */

.hero-section {
    background: url('../images/massage.jpg') center/cover no-repeat;
    height: 80vh;
    box-shadow: 0px 3px 7px 0px rgba(128, 0, 0, 0.5);
}

.hero-text-content {
    height: auto;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    color: #fff;
    padding: 1.5rem;
    margin: 3rem auto;
}

/* Brief-Section */

.brief-section img {
    width: 100%;
    height: auto;
}

.brief-section h2{
    font-weight: 700;
    line-height: 1.8rem;
}

.brief-section h2 span {
    color: #CDA582;
    letter-spacing: 0.15rem;
}










@media screen and (min-width: 768px){
    .brief-section img {
        max-width: 50%;
        height: auto;
        border-radius: 0 0 50% 0;
    }

.hair-bg {
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
}

.hair-bg img {
    position: relative;
    right: 0;
    bottom: 0;
}
}