body {
    border: 0;
    padding: 0;
    margin: 0;
}

// Nav Section 



// Hero Section

.hero-section {
    background-image: url("../images/HeroImage.jpg");
}

.hero-text-content {
    height: auto;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    color: #fff;
    padding: 1.5rem;
}